<VirtualHost *:80>
ServerName {{ item.servername }}
    DocumentRoot {{ item.documentroot }}

    <Directory {{ item.documentroot }}>
        Options Indexes FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/{{ item.name }}-error.log
    CustomLog ${APACHE_LOG_DIR}/{{ item.name }}-access.log combined
</VirtualHost>
